body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
    margin: 0;
    font-family: Arial, sans-serif;
}

.calculator {
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 220px;
}

.display {
    background-color: #333;
    color: #fff;
    text-align: right;
    padding: 20px;
    font-size: 2em;
    border-bottom: 1px solid #ccc;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.btn {
    border: 1px solid #ccc;
    padding: 20px;
    font-size: 1.5em;
    text-align: center;
    background-color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn:active {
    background-color: #ddd;
}

.operator {
    background-color: rgb(0, 0, 0);
    color: #fff;
}

.operator:active {
    background-color: rgb(0, 0, 0);
}

.equal {
    grid-column: span 4;
    background-color: rgb(0, 0, 0);
    color: #fff;
}

.equal:active {
    background-color: rgb(0, 0, 0);
}

.clear {
    grid-column: span 4;
    background-color: rgb(0, 0, 0);
    color: #fff;
}

.clear:active {
    background-color: rgb(0, 0, 0);
}
